.Mailbox {
    border: 1px solid #111;
    -moz-box-shadow: 0 0 6px 3px #ccc;
    -webkit-box-shadow: 0 0 6px 3px #ccc;
    box-shadow: 0 0 6px 3px #ccc;
    min-width: 667px;
    min-height: 334px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

@media screen and (max-width: 480px) {
    .Mailbox {
        width: 100%;
        box-shadow: none;
        position: static;
    }
}